/* styling top heading */
.heading {
    font-size: 80px;
    color: rosybrown;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

/* styling sub-heading */
.sub-heading {
    font-size: 45px;
    color: rosybrown;
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
    margin-top: 0px;
}

/* using media queries to properly scale heading's font size */
@media only screen and (max-width: 700px) {
    .heading {
        font-size: 50px;
    }
}

/* Styling analog clock parent*/
.clock {
    width: 200px;
    height: 200px;
    border: 7px solid rosybrown;
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px;
}

/* styling analog clock face */
.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

/* styling & positioning hands of analog clock */
.hand {
    position: absolute;
    height: 3px;
    background-color: rosybrown;
    width: 50%;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    border-radius: 40px;
}

/* styling digital clock header */
.digital-clock-24-hour {
    text-align: center;
}

/* styling & positioning digital clock */
.digital-clock-time-24-hour {
    color: rosybrown;
    font-size: 30px;
    font-family: Calibri, sans-serif;
    border: 4px solid rosybrown;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    margin: 40px auto;
}